.update-order-form {
    margin: 20px;
  }

  .order-item {
    display: flex;
    gap: 20px
  }

  .order-submit {
    display: flex;
    gap: 20px
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  td:first-child {
    font-weight: bold;
  }
  
  td:nth-child(6) {
    text-transform: capitalize;
    font-weight: bold;
    color: #4CAF50;
  }
  
  tbody tr:hover {
    background-color: #e6f7ff;
  }
  